@model USMPWEB.Models.Campanas

<div class="p-home">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 left-section" style="padding-left: 0px">
        <img style="width: 100%" src="@Model.Imagen" alt="Imagen de @Model.Titulo" alt="Program Image" />
      </div>

      <div class="col-lg-8">
        <div class="row mt-4">
            <h6>@Model.Titulo</h6>
          <div class="col-md-9 align-content-center">
            <div class="content-imgs">
              <img style="width: 40px; height: 40px" src="~/ico/educacion.png" alt="role niños" />
              <img style="width: 40px; height: 40px" src="~/ico/voley.png"  alt="role niños" />
              <img style="width: 40px; height: 40px" src="~/ico/salud.png"  alt="role niños" />
            </div>
          </div>
          <div class="col-md-3">
          <button type="button" class="btn btn-primary ms-auto mt-4 p-home__bg-primary" data-bs-toggle="modal" data-bs-target="#uneteModal">
    Únete
</button>

<!-- Modal -->
<div class="modal fade" id="uneteModal" tabindex="-1" aria-labelledby="uneteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uneteModalLabel">Únete a nuestra Campaña</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Contenido del modal -->
                <p>Ingresa tus datos para unirte.</p>
                <form>
                    <div class="mb-1">
                        <label for="nombre" class="form-label">Nombres</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Tu nombre">
                    </div>
                    <div class="mb-1">
                        <label for="nombre" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Tus Apellidos">
                    </div>
                    <div class="mb-1">
                        <label for="nombre" class="form-label">Matricula</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Numero Matricula">
                    </div>
                    <div class="mb-1">
                        <label for="nombre" class="form-label">Facultad</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Facultad">
                    </div>
                    <div class="mb-1">
                        <label for="nombre" class="form-label">Carrera</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Carrera">
                    </div>
                    <div class="mb-1">
                        <label for="nombre" class="form-label">Direccion</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Direccion">
                    </div>
                    <div class="mb-1">
                        <label for="nombre" class="form-label">Telefono</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Telefono">
                    </div>
                    <div class="mb-1">
                        <label for="email" class="form-label">Correo Electrónico</label>
                        <input type="email" class="form-control" id="email" placeholder="correo@ejemplo.com">
                    </div>
                    <div class="mb-1">
                        <label for="nombre" class="form-label">Monto : 90 Nuevos Soles</label>
                    </div>
                     <div class="form-check mb-">
                        <input type="checkbox" class="form-check-input" id="terminos" required>
                        <label class="form-check-label" for="terminos">
                            Acepto los <a href="#" class="text-decoration-underline">términos y condiciones</a> y la <a href="#" class="text-decoration-underline">política de privacidad</a>.
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>
            <p style="font-size: 11px">Cierre de Postulaciones </br> el @Model.FechaFin</p>
          </div>
        </div>
        <div style="margin-top: 2rem" class="card">
          <div class="card-body">
            <h6>Sobre el Programa</h6>
            <p>Estudiantes de 9no ciclo en adelante y/o egresados en Psicología</p>
            <ul style="font-size: 11px; padding: 0px">
              <li>Brindar atención psicológica gratuita</li>
              <li>Brindar un programa adecuado para el paciente</li>
              <li>Elaboración de informes psicológicos</li>
              <li>Toma de pruebas psicológicas de requerir</li>
            </ul>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h6>Requisitos e Indicaciones</h6>
            <ul style="font-size: 11px; padding: 0px">
              <li>1. Disponibilidad: 25 horas a la semana - Horario flexible</li>
              <li>2. Compromiso hacia el programa</li>
              <li>3. Resolución de problemas</li>
              <li>4. Comunicación efectiva</li>
              <li>5. Trabajo en equipo</li>
              <li>6. Modalidad remota</li>
              <li>7. Experiencia en el área deseable</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
